/* Base */

* {
    -webkit-box-sizing: border-box;
      --moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helevetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

a {
    color: #2e3191;
}

a:hover {
    color: #2e8aca;
}

p {
    margin: 0 0 20px;
}

ul.bulletless {
    padding-left: 0;
    list-style-type: none;
}

main > li, main > p, main > a {
    font-size: 16px;
}

h1, h2, h3 {
    margin-top: 0;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
    color: #111;
}

/* Header */
header {
    border-bottom: 7px solid #4abc96;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    min-height: 50px;
    padding: 0 30px;
    background: #fff
}

header a {
    text-decoration: none;
}

header h1 {
    float: left;
    margin: 11px 5px 11px 0;
    font-weight: 500;
    font-size: 20px;
}

header h1 img {
    max-height: 30px;
    margin-top: -4px;
    margin-right: 10px;
    vertical-align: middle;
}

header h1 a {
    color: #111;
}

header nav {
    padding: 0 15px 10px 0;
}

header nav select {
    display: inline;
    margin-left: 40px;
}

header nav ul {
    clear: both;
    padding-left: 0;
}

header nav ul li.active a,
header nav ul li a:hover {
    color: #2e8aca;
    background: #f0f0f0;
}

header nav ul li a {
    color: #2e3e4e;
    text-decoration: none;
    padding: 9.5px 10px;
    position: relative;
    display: inline-block;
}

header nav ul {
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    display: none;
}

header nav ul.left {
    border-bottom: 1px solid #ccc;
}

#navtoggle {
    position: relative;
    padding: 10px 15px;
    float: right;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}

#navtoggle:focus {
    outline: none;
}

#navtoggle:hover {
    background: #f0f0f0;
}

@media (min-width: 768px) {
  #navtoggle {
    display: none;
  }
}

footer {
    border-top: 7px solid #4abc96;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 10px 0;
}

footer p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}

main {
    color: #0b0c0c;
    margin: 0 auto;
    padding: 10px;
}

/* Section clearing */
main:before,
main:after,
section:before,
section:after, {
    display: table;
    content: " ";
    clear: both;
}

/* Articles */
article {
    max-width: 38em;
    padding: 10px 0;
}

article ul,article ol {
    padding-left: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em
}

article h1 {
    font-size: 30px;
    margin-bottom: 0.25em;
}

/* Student home page sections */

#course-info {
    border-bottom: 3px solid #0b0c0c;
    padding-left: 0;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

article#recent-updates {
    background: #fff4b5;
    border: 2px solid #f8c830;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
    clear: both;
}

article#recent-updates li {
    margin-bottom: 0.75em;
}

.course-status {
    background: #232323;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 6px 3px;
    margin-right: 0.75em;
    text-transform: uppercase;
    float: left;
    overflow: auto;
}

/* Red status */
.status-atrisk,
.grade-nya {
    background: #DF3034 !important;
}

/* Amber status */
.status-below-expectations {
    background: #E97136 !important;
}

/* Green status */
.status-ontrack,
.grade-pass,
.grade-merit,
.grade-distinction {
    background: #1BA41C !important;
}

.unitgrade {
    font-weight: 700;
    color: #eee;
    text-align: center;
}

#recent-updates h2, .dashboard-block h2 {
    font-size: 24px;
}

.dashboard-block h2 {
    margin: 1.2em 0 0.4em 0;
}

h2#studentid {
    margin: 0 0 0.4em 0;
    font-size: 20px;
}

/* Student unit list */
article#unit-list {
    margin: 0 auto;
    width: 21em;
}

article#unit-list tr:hover td {
    background: #b2c6af;
    cursor: pointer;
}

/* Deadline markings */
span.late {
    color: red;
    font-weight: 700;
}

/* Utilities */
.clearfix {clear: both;}

/* Tables */
article table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em -1em 2em -1em;
    word-wrap: break-word;
}

article th {
    line-height: 1.25em;
    text-align: left;
    color: #0b0c0c;
    font-weight: 700;
    background: #dee0e2;
    border: 1px solid #a1acb2;
}

article td {
    background: #eaedef;
    border: 1px dotted #b8c6cc;
}

article th,
article td {
    vertical-align: top;
    padding: 0.7em 0.5em 0.7em 1em;
}

article tr:nth-child(even) td {
    background: #fff;
}

/* Login page */
body#login-page {
    background: #f0f0f0;
}

#login-form {
    width: 340px;
    background: #fff;
    margin: 10px auto 15px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
            box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

#login-form header {
    border: 0;
    box-shadow: none;
    text-align: center;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    min-height: 100px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

#login-form header h1 {
    float: none;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#login-form header h1 img {
    max-height: 100%;
}

#login-form h2 {
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#login-form form {
    clear: both;
    padding: 15px;
}

#login-form label {
    font-size: 14px;
}

#login-form form button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-top: 15px;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],input[type="password"],
input[type="search"] {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    border: 1px solid #bbb;
    min-width: 8em;
    margin-right: 0.5em;
    padding: 0.25em;
    display: block;
}

input:focus, textarea:focus,
select:focus {
    outline: 3px solid #ffbf47;
}

.system-warning,
.auth-error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}

.system-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.auth-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}

@media (min-width: 768px) {
    article th, article td, article td small {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    article table caption {
        font-size: 20px;
        line-height: 1.2
    }
}

@media (max-width: 640px) {
    article table {
        margin: 1em 0 2em 0;
        width: 100%
    }

    article table caption {
        padding-left: 0
    }
}

@media (max-width: 640px) {
    article th,article td {
        font-size: 13px;
        line-height: 1.14286
    }
}

@media (max-width: 640px) {
    article td small {
        font-size: 14px;
        line-height: 1.14286
    }
}

@media screen and (max-width: 320px) {
    article th,article td,article td small {
        font-size: 14px
    }
}

/* Responsive */
@media (min-width: 350px) {
    article#unit-list {
        margin: 0 auto;
        width: 25em;
    }
}

@media (min-width: 550px) {
    article#unit-list {
        margin: 0 auto;
        width: 38em;
    }

    #login-form {
        width: 400px;
    }
}

@media (min-width: 768px) {
    main {
        padding: 30px;
    }

    main#student-home {
        width: 47em;
    }

    body {
        line-height: 1.75;
        font-size: 16px;
    }

    header nav {
        padding-left: 15px;
    }

    header nav select {
        display: none;
    }

    header nav ul {
        display: inline !important;
        clear: none;
    }

    header nav ul li {
        float: left;
    }

    header nav ul.left {
        float: left;
        border-bottom: 0;
    }

    header nav ul.right {
        float: right;
    }

    #navtoggle {
        float: none;
    }

    .dashboard-block {
        padding: 0 2em 0 2em;
    }
}

@media (min-width: 1024px) {
    main {
        padding: 30px 70px;
    }
}

@media (min-width: 970px) {

    header h1 {
        margin: 11px 40px 11px;
    }

    header nav ul li a {
        padding: 9.5px 15px;
    }
}
